<div>
  <div class="row flex-xrap justify-end items-center">
    <h3 class="w-5/12">{{shoppingList.name}}</h3>
    <button routerLink="/shopping-list-manager/{{userId}}/{{shoppingList.id}}">Modifier</button>
  </div>
  <div class="overflow-container">
  <article class="row flex-wrap items-center need-to-check-article" *ngFor="let need of shoppingList.needList">
    <input type="checkbox" [checked]="need.founded" (change)="checkNeed(need.id,!need.founded)">
    <img
      class="product-img"
      src="{{need.product.imgUrl}}"
      alt="product image"
    />
    <p class="quantity">x{{need.quantity}}</p>
    <p>{{need.product.nom}}</p>
  </article>
  </div>
</div>
