<div>
  <div class="row flex-xrap justify-end items-center">
    <p class="w-5/12">{{shoppingList.name}}</p>
    <button routerLink="/shopping-list-manager/{{shoppingList.id}}">Modifier</button>
  </div>
  <article class="row flex-wrap items-center need-to-check-article" *ngFor="let need of shoppingList.needList">
    <input type="checkbox">
    <img
      class="product-img"
      src="{{need.product.imgUrl}}"
      alt="product image"
    />
    <p class="quantity">x{{need.quantity}}</p>
    <p>{{need.product.nom}}</p>
  </article>
</div>
