<article class="row items-center flex-wrap justify-between need-to-check-article">
  <div class="row flex-wrap items-center">
    <input type="checkbox">
      <img
        class="product-img"
        src="https://cdn.shopify.com/s/files/1/0489/7544/6170/products/download-2020-10-22T193626.586-min.jpg?v=1613381919"
        alt="product image"
      />
      <p class="quantity">x11</p>
      <p>Bolognaise</p>
  </div>
  <a
    routerLink="/shopping-list-manager"
  ><button>Modifier</button>
  </a>
</article>
