<article class="row flex-wrap items-center need-to-add-article" >
  <form class="row items-center" (ngSubmit)="addProd()">
    <input
      type="image"
      class="minus-and-plus-img mr-3"
      src="../../../assets/images/minus-and-plus.png"
      alt="minus and plus image"
    />
    <input type="number" [(ngModel)]="form.qte" class="mr-3 bg-gray-200 text-right focus:outline-none" name="custom-input-number" value="0" size="2"/>
  </form>
  <img
    class="product-img mr-3"
    src="{{prod.imgUrl}}"
    alt="image du produit"
  />
  <p class="mr-3">{{prod.nom}}</p>
</article>
