<h2>Chercher et ajouter un besoin</h2>


<div class="bg-white flex items-center rounded-full search-bar">
  <input
    id="search"
    class="
          rounded-l-full
          w-full
          py-4
          px-6
          text-gray-700
          leading-tight
          focus:outline-none
        "
    type="text"
    placeholder="Nom du produit"
  />
  <p></p>
  <div class="p-1">
    <button
      class="
            bg-blue-300
            text-white
            rounded-full
            p-2
            hover:bg-blue-400
            focus:outline-none
            w-12
            h-12
            flex
            items-center
            justify-center
          "
    >
      <input
        type="image"
        class="search-img"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Search_Noun_project_15028.svg/1046px-Search_Noun_project_15028.svg.png"
        alt="search image"
      />
    </button>
  </div>
</div>

<div class="grid md:grid-cols-12 items-start">
  <div class="sm:col-span-4">
    <label>
      <input type="checkbox" />
      <span> Fournitures scolaires </span>
    </label>
  </div>
  <div class="sm:col-span-4 ">
    <label>
      <input type="checkbox" />
      <span> Produit ménagers </span>
    </label>
  </div>
  <div class="sm:col-span-4">
    <label>
      <input type="checkbox" />
      <span> Fruits </span>
    </label>
  </div>
</div>
<div class="row flex-wrap items-center">
  <input
    type="image"
    class="plus-img mr-3"
    src="https://icons-for-free.com/iconfiles/png/512/circle+download+plus+icon-1320086208811198918.png"
    alt="plus image"
  />
  <input type="number" class="mr-3 bg-gray-300 text-right" name="custom-input-number" value="0" size="2"/>

  <img
    class="product-img mr-3"
    src=""
    alt="image du produit"
  />
  <p class="mr-3">need.product.nom</p>
</div>
