
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="h-screen w-full">

<div class="h-screen w-full section-login">

  <div class="bg-gray-800 mx-auto max-w-md">
    <div class="p-12">
      <p class="text-5xl pt-10 text-yellow-500 font-bold">
        Bienvenue sur Usizo
      </p>
      <p class="text-xl py-3 text-gray-400 font-semibold">Création de compte</p>
    </div>

    <div class="mx-12 p-3 rounded-xl shadow-sm bg-gray-900">

      <div class="p-3 mx-6 border-b border-gray-500">
        <input placeholder="Nom" id="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control bg-transparent text-yellow-500 w-full focus:outline-none focus:rang" type="text" formControlName="name" required/>
        <div *ngIf="submitted && f.name.errors" class="text-red-400 text-xs">
          <div *ngIf="f.name.errors.required">Nom obligatoire</div>
        </div>
      </div>

      <div class="p-3 mx-6 flex border-b border-gray-500">
        <input placeholder="Saisir un mot de passe" [formControlName]="'password1'" name="password1" class="form-control bg-transparent text-yellow-500 focus:outline-none focus:rang w-full" minlength="4" [ngClass]="{ 'is-invalid': submitted && f.password1.errors }" type="password" />
        <div *ngIf="submitted && f.password1.errors" class="text-red-400 text-xs">
          <div *ngIf="f.password1.errors.required">Mot de passe obligatoire</div>
          <div *ngIf="f.password1.errors.minlength">Il doit contenir au moins 4 caractères</div>
        </div>
      </div>

      <div class="p-3 mx-6 flex border-b border-gray-500">
        <input placeholder="Confirmation" [formControlName]="'password2'" name="password2" class="form-control bg-transparent text-yellow-500 focus:outline-none focus:rang w-full" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" type="password" />
        <div *ngIf="submitted && f.password2.errors" class="text-red-400 text-xs">
          <div *ngIf="f.password2.errors.required">Confirmation obligatoire</div>
          <div *ngIf="f.password2.errors.mustMatch">Les deux mots de passe doivent correspondrent</div>
        </div>
      </div>

    </div>

    <div class="w-full p-12">
      <button type="submit" class=" bg-yellow-500 p-3 rounded-3xl w-full h-full hover:bg-yellow-600"> Se connecter</button>
      <p type="reset" class="mx-auto text-center mt-3 text-yellow-400" (click)="onReset()">Effacer le formulaire</p>
      <p class="mx-auto text-center mt-3 text-gray-400">Déjà un compte ?  <a routerLink="/login" class="text-md font-semibold">Se connecter</a> </p>
    </div>

  </div>
</div>

</form>







