<article class="col items-center shopping-list-summary-article">
  <h3>{{shoppingList.name}}</h3>
  <div class="row items-center justify-center flex-wrap">
    <article *ngFor="let user of shoppingList.members">
      <img
        src="{{user.imgUrl}}"
        class="user-img"
        alt="user image"
      />
      <p>Loup Garou</p>
    </article>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
    <app-add-user></app-add-user>
  </div>
</article>
