<article class="col items-center shopping-list-summary-article">
  <p class="text-black">{{shoppingList.name}}</p>
  <div class="row items-start flex-wrap">
    <article *ngFor="let user of shoppingList.members">
      <img
        src="{{user.imgUrl}}"
        class="user-img"
        alt="user image"
      />
      <p>Loup Garou</p>
    </article>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
    <app-user-summary></app-user-summary>
  </div>
</article>
