<div class="row justify-between navbar">
  <div class="row">
    <div class="mr-3">
      <a routerLink="/dashboard" class="text-blue-500 hover:text-blue-800"
        ><img class="logo-usizo" src="assets/images/logo.png" alt="logo-usizo"
      /></a>
    </div>
    <div class="mr-3">
      <a
        routerLink="/shopping-list-manager"
        class="text-blue-500 hover:text-blue-800"
        >List shopping manager</a
      >
    </div>
  </div>
  <div class="row">
    <div class="mr-3">
      <a routerLink="/login" class="text-blue-500 hover:text-blue-800">Login</a>
    </div>
    <div class="mr-3">
      <a routerLink="/sign-up" class="text-blue-500 hover:text-blue-800"
        >Sign up</a
      >
    </div>
  </div>
</div>
