<div class="row justify-between navbar">
  <div class="row flex items-center">
    <div class="mr-3">
      <a routerLink="/login"><img class="usizo-img" src="assets/images/logo2.png" alt="logo-usizo" /></a>
    </div>
  </div>
  <div class="row flex items-center" *ngIf="token != null">
    <img class="usizo-img" [src]="user.imgUrl" alt="userImg" />
    <p class="menu-item">{{user.nom}}</p>
  </div>
  <div class="row flex items-center">
    <ng-container *ngIf="token == null">
    <div class="m-5">
      <a routerLink="/login" class="menu-item">Se connecter</a>
    </div>
    <div class="mr-5">
      <a routerLink="/sign-up" class="menu-item">S'inscrire</a>
    </div>
    </ng-container>
    <div *ngIf="token != null">
      <a class="menu-item" (click)="logout()">Se déconnecter</a>
    </div>
  </div>
</div>
