<section class="login-section row justify-center">
  <form [formGroup]="connectionForm" (ngSubmit)="onSubmit()" class="col items-center">
    <h2>Se connecter</h2>

  <div class="w-full">
    <div class="border-b border-gray-500 mb-5 col">
      <input placeholder="Nom" id="name" [formControlName]="'name'" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control  bg-transparent text-yellow-500 w-full focus:outline-none focus:rang" type="text" />
      <div *ngIf="submitted && f.name.errors" class="text-red-400 text-xl">
        <div *ngIf="f.name.errors.required">Nom obligatoire</div>
      </div>
    </div>

    <div class="flex border-b border-gray-500 mb-5 col">
      <input placeholder="Mot de passe" id="password" [formControlName]="'password'" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class=" form-control bg-transparent text-yellow-500 focus:outline-none focus:rang w-full" type="password" />
      <div *ngIf="submitted && f.password.errors" class="text-red-400 text-xl">
        <div *ngIf="f.password.errors.required">Mot de passe obligatoire</div>
      </div>
    </div>
    <div class="flex justify-end w-full">
      <button type="submit"> Se connecter</button>
    </div>
  </div>

  </form>
</section>


