<div class="grid md:grid-cols-12 p-5">
  <div class="col sm:col-span-4 md:col-span-6 bg-red-600">
    <ul class="col">
      <li class="col">
        <p class="text-center">Nom liste 1</p>
        <div class="row justify-between items-start flex-wrap">
          <ul class="row flex-wrap">
            <li>
              <img
                src="https://steamuserimages-a.akamaihd.net/ugc/794237560596039857/B9B4B62FD6EF6B14BB4BF8C3288BBE33D0C887BB/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                class="user-img"
                alt="user image"
              />
            </li>
            <li>
              <img
                src="https://lh3.googleusercontent.com/P5gYv4mST3KelPzV7Ut9zija-VdXHf1F2jQTSQWBfocP6COPRV-m42dgXXKlZWX5GYq1yeKUKP3xT3PftkvtKA"
                class="user-img"
                alt="user image"
              />
            </li>
            <li>
              <img
                src="https://pbs.twimg.com/profile_images/1117850000199966721/QbY6x8NK.png"
                class="user-img"
                alt="user image"
              />
            </li>
          </ul>
          <div class="row">
            <button>modifier</button>
            <button>supprimer</button>
          </div>
        </div>
      </li>
      <li class="col">
        <p class="text-center">Nom liste 2</p>
        <div class="row justify-between items-start flex-wrap">
          <ul class="row flex-wrap">
            <li>
              <img
                src="https://steamuserimages-a.akamaihd.net/ugc/794237560596039857/B9B4B62FD6EF6B14BB4BF8C3288BBE33D0C887BB/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                class="user-img"
                alt="user image"
              />
            </li>
            <li>
              <img
                src="https://pbs.twimg.com/profile_images/1117850000199966721/QbY6x8NK.png"
                class="user-img"
                alt="user image"
              />
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="flex justify-center"><button>ajouter</button></div>
  </div>
  <ul class="col sm:col-span-4 md:col-span-6 bg-yellow-200">
    <li class="row items-center flex-wrap">
      <div class="row items-center">
        <img
          class="product-img"
          src="https://cdn.shopify.com/s/files/1/0489/7544/6170/products/download-2020-10-22T193626.586-min.jpg?v=1613381919"
          alt="product image"
        />
        <p>x3</p>
        <p>Sauce bolognaise</p>
      </div>
      <div>
        <button class="row items-center">
          <input
            type="image"
            class="check-img"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Check_green_circle.svg/2048px-Check_green_circle.svg.png"
            alt="check image"
          />
          Cocher le besoin
        </button>
      </div>
    </li>
  </ul>
</div>
