<div class="grid md:grid-cols-12 p-5">
  <div class="col sm:col-span-4 md:col-span-6 bg-red-600">
    <ul class="col">
      <li class="col" *ngFor="let sl of userLists">
        <p class="text-center">{{sl.name}}</p>
        <div class="row justify-between items-start flex-wrap">
          <ul class="row flex-wrap">
            <li *ngFor="let user of sl.members">
              <img
                src="{{user.imgUrl}}"
                class="user-img"
                alt="user image"
              />
            </li>
          </ul>
          <div class="row">
            <a
              routerLink="/shopping-list-manager/{{sl.id}}"
              class="text-blue-500 hover:text-blue-800"
            ><button>modifier</button></a>
            <button>supprimer</button>
          </div>
        </div>
      </li>
    </ul>
    <div class="flex justify-center"><button>ajouter</button></div>
  </div>
  <ul class="col sm:col-span-4 md:col-span-6 bg-yellow-200">
    <li class="row items-center flex-wrap">
      <div class="row items-center">
        <img
          class="product-img"
          src="https://cdn.shopify.com/s/files/1/0489/7544/6170/products/download-2020-10-22T193626.586-min.jpg?v=1613381919"
          alt="product image"
        />
        <p>x3</p>
        <p>Sauce bolognaise</p>
      </div>
      <div>
        <button class="row items-center">
          <input
            type="image"
            class="check-img"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Check_green_circle.svg/2048px-Check_green_circle.svg.png"
            alt="check image"
          />
          Cocher le besoin
        </button>
      </div>
    </li>
  </ul>
</div>
