@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

:root {
  --orange: #FD7E37;
}

html {
  font-size: .625em; /* fallback IE8+ */
  font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  scroll-behavior: smooth;
}

body {
  font-size:2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h1,h2{
  text-align:center;
}

.navbar {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  background-color: var(--orange);
  padding: 1rem;
}

.search-and-add, .delete-btn, .login-section, .signup-section .section-need-to-modify{
  margin:2rem;
}

.shopping-list-summary-article, .need-to-modify-article{
  margin: 0 2rem 0 2rem;
}



footer {
  color: white;
  background-color: var(--orange);
  padding: 1rem;
}

.menu-item{
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.menu-item .active,
.menu-item:hover,
.menu-item:focus {
  color: var(--orange);
  background-color: white;
  border-radius:1rem;
}

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}


.user-img,
.product-img {
  height: 100px;
  margin: 1rem;
}

.user-img{
  border-radius:50%;
}

.check-img,
.plus-img,
.minus-img {
  width: 50px;
}

.search-img {
  width: 1em;
}

/* * {
  border: 1px solid;
} */

.usizo-img {
  width: 6rem;
}

button{
  padding:1rem;
  color:white;
  font-weight: 600;
  background-color: var(--orange);
  border-radius:1rem;
  @apply bg-yellow-400 hover:bg-yellow-600;
}

a{
  @apply text-yellow-400 hover:text-yellow-600;
}

.need-to-check-article{
  padding: 1.8rem 1.2rem;
  border-radius:1rem;
}

.user-article{
  padding: 1.8rem 1.2rem;
}

.search-bar{
  border: solid 0.1rem #c1bebe;
  padding:0.5rem;
}

.delete-btn{
  background-color: #DC143C;
}

.quantity{
  font-weight: 500;
  font-size:2rem;
}


.quantity{
  margin-right: 1rem;
}

.need-to-check-article input{
  margin-left:1rem;
  transform: scale(1.5);
}

.need-to-modify-article, .need-to-add-article{
  border-bottom: dashed var(--orange);
  border-radius: 0;
  padding: 1rem;
}

.app-need-to-check:last-child .need-to-check-article,
.app-need-to-modify:last-child .need-to-modify-article,
.app-need-to-add:last-child .need-to-add-article{
  border-bottom: none;
  padding: 1rem;
}

.need-to-check-section,
.need-to-modify-section,
.search-and-add-section,
.signup-section form,
.login-section form,
.shopping-list-summary-article
{
  margin: 1rem;
  box-shadow: 0 0 4.8rem rgba(0, 0, 0, .16);
  border-radius: 1rem;
}

.need-to-modify-section, .search-and-add-section, .dashboard-section, .shopping-list-manager,
.login-section, .signup-section, .search-and-add, .need-to-check-section, .shopping-list-summary-article,
.signup-section form, .login-section form{
  padding: 2rem;
}

.overflow-container {
  height: 42rem;
  overflow-y: scroll;
}

.shopping-list-summary-article:hover{
  box-shadow: 0 0 4.8rem #f2c97d;
}
