@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */

html {
  font-size: .625em; /* fallback IE8+ */
  font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  scroll-behavior: smooth;
}



body {
  background-color: #fed8b1;
  font-size:2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.4rem;
}

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}

.navbar {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0px;
  background-color: bisque;
  padding: 10px;
}

.user-img,
.product-img {
  width: 100px;
}

.check-img,
.plus-img,
.minus-img {
  width: 50px;
}

.search-img {
  width: 1em;
}

/* * {
  border: 1px solid;
} */

.usizo-img {
  width: 6rem;
}
