<article class="row items-center flex-wrap justify-between need-to-modify-article w-full" *ngFor="let need of shoppingList.needList">
  <div class="row flex-wrap items-center">
    <img
      class="product-img"
      src="{{need.product.imgUrl}}"
      alt="product image"
    />
    <p class="quantity">x{{need.quantity}}</p>
    <p>{{need.product.nom}}</p>
  </div>
  <input
    type="image"
    class="minus-img"
    src="https://i.ibb.co/wRTBjFr/minus-icon.png"
    alt="minus image"
    (click)="remNeed(need.id)"
  />
</article>
